.masthead {
    background-size: cover;
    min-height: 90vh;
    position:relative;
    color: white;
}

.color-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width:100%;
}

h1 {
    font-size: 3rem;
}

.singleCol {
    max-width: 750px;
    margin: 0 auto;
}

.darkBG {
    background-color: #333;
    color: white;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

